@model TaskManagement.Models.Authentication.Register;
@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h5 class="display-4">Welcome </h5>
    <p style="font-size: 25px; margin-top:inherit">Please login if you do not have an account, please register.</p>


</div>
