@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>




<div class="container">
    <table>
        <tbody id="rowZoneLair">
        </tbody>
    </table>
    <br />

    <div class="salesChannelCreator well row">
        <div class="col-md-6">
            <p>Select sales channel type</p>
        </div>
        <div class="col-md-4">
            <select class="comissionTypeSelect" rel="comissionTypeSelect">
                <option>Fan Product</option>
                <option>Official Products Marketplace</option>
                <option>Official Products Shop</option>
                <option>3rd Party Sales Channel</option>
                <option>Fulfillment Marketplace</option>
                <option>Fulfillment Shop</option>
                <option>Fixed Price PTN</option>
            </select>
        </div>
        <div class="col-md-2">
            <button class=" fr btn btn-primary" id="newButton">add sales channel</button>
        </div>
    </div>

</div>

<hr />

<div class="container">

    <div class="row channelForm">
        <div class="col-md-2">
            Advance
        </div>

        <div class="col-md-2">
            <input type="text" value="$30,000" />
        </div>
    </div>
    <div class="row channelForm">
        <div class="col-md-2">
            Guarantee
        </div>

        <div class="col-md-2"><input type="text" value="$5,000" /></div>
        <div class="col-md-2"><input type="text" value="01/11/2011" /></div>
        <div class="col-md-2"><span class="glyphicon glyphicon-calendar"></span></div>
        <div class="col-md-2"><button class="btn btn-default">add more</button></div>
    </div>
    <div class="row channelForm">
        <div class="col-md-2">Commitment</div>
        <div class="col-md-2"><input type="text" value="$30,000" /></div>
    </div>
    <div class="row channelForm">
        <div class="col-md-2">Tier 1</div>
        <div class="col-md-2"><input type="text" value="%" /></div>
        <div class="col-md-2"><input type="text" value="$31,000" /></div>
        <div class="col-md-2"><input type="text" value="01/11/2011" /></div>
        <div class="col-md-2"><span class="glyphicon glyphicon-calendar"></span></div>
    </div>
    <div class="row channelForm">
        <div class="col-md-2">Tier 2</div>
        <div class="col-md-2"><input type="text" value="%" /></div>
        <div class="col-md-2"><input type="text" value="$41,000" /></div>
        <div class="col-md-2"><input type="text" value="01/11/2011" /></div>
        <div class="col-md-2"><span class="glyphicon glyphicon-calendar"></span></div>
    </div>
    <div class="row channelForm">
        <div class="col-md-2">Tier 3</div>
        <div class="col-md-2"><input type="text" value="%" /></div>
        <div class="col-md-2"><input type="text" value="$51,000" /></div>
        <div class="col-md-2"><input type="text" value="01/11/2011" /></div>
        <div class="col-md-2"><span class="glyphicon glyphicon-calendar"></span></div>
    </div>
    <div class="row channelForm">
        <div class="col-md-2">Tier 4</div>
        <div class="col-md-2"><input type="text" value="%" /></div>
        <div class="col-md-2"><input type="text" value="$61,000" /></div>
        <div class="col-md-2"><input type="text" value="01/11/2011" /></div>
        <div class="col-md-2"><span class="glyphicon glyphicon-calendar"></span></div>
    </div>


    <hr />

    <div class="row channelForm">
        <div class="col-md-2">Start Date</div>
        <div class="col-md-2"><input type="text" value="01/11/2010" /></div>
        <div class="col-md-2"><span class="glyphicon glyphicon-calendar"></span></div>
    </div>
    <div class="row channelForm">
        <div class="col-md-2">End Date</div>
        <div class="col-md-2"><input type="text" value="01/11/2015" /></div>
        <div class="col-md-2"><span class="glyphicon glyphicon-calendar"></span></div>
    </div>
    <div class="row channelForm">
        <div class="col-md-2">Partner sumary</div>
        <div class="col-md-2"><button class="btn btn-default">Upload</button></div>
        <div class="col-md-2">view</div>
    </div>
    <div class="row channelForm">
        <div class="col-md-2">Executed contract</div>
        <div class="col-md-2"><button class="btn btn-default">Upload</button></div>
        <div class="col-md-2">view</div>
    </div>
    <div class="row channelForm">
        <div class="col-md-2">Payment frequency</div>
        <div class="col-md-2">
            <select>
                <option value="monthly">Monthly</option>
                <option value="quarterly">Quarterly</option>
                <option value="yearly">Yearly</option>
            </select>
        </div>
    </div>
    <div class="row channelForm">
        <div class="col-md-2">Exclude member from Exessive Mart-up * </div>
        <div class="col-md-2"><input type="checkbox" /></div>
    </div>
    <div class="row channelForm">
        <div class="col-md-2">Exclude member from Shop Fees *</div>
        <div class="col-md-2"><input type="checkbox" /></div>
    </div>
    <div class="row channelForm">
        <div class="col-md-2">Comments</div>
        <div class="col-md-2"><input type="text" /></div>
    </div>

</div>

<div>
    <button class="btn btn-default">Cancel</button>
    <button class="btn btn-default">Save</button>
</div>